# Virtual environment
trak/
env/
venv/
*.pyc
__pycache__/

# OS & Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

# VS Code settings
.vscode/

# Logs and outputs
*.log
*.tmp

# Compiled files
*.py[cod]
*.so

# Environment files
.env
*.env

# CSV or local DB files
*.sqlite3
*.db
*.csv
*.json

# Flask cache / sessions
instance/
*.db-journal

# Mac system files
Icon?

# PyInstaller build artifacts
build/
dist/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# __pycache__ inside all folders
**/__pycache__/
